In [1]:
import pandas as pd

In [2]:
url2='http://api.covid19india.org/csv/latest/vaccine_doses_statewise_v2.csv'
v=pd.read_csv(url2)
v.tail()

,Vaccinated As of,State,First Dose Administered,Second Dose Administered,Total Doses Administered
10901,31/10/2021,Uttar Pradesh,NaN,NaN,NaN
10902,31/10/2021,Uttarakhand,NaN,NaN,NaN
10903,31/10/2021,West Bengal,NaN,NaN,NaN
10904,31/10/2021,Miscellaneous,NaN,NaN,NaN
10905,31/10/2021,Total,NaN,NaN,NaN

In [5]:
v.dropna()

,Vaccinated As of,State,First Dose Administered,Second Dose Administered,Total Doses Administered
0,16/01/2021,Andaman and Nicobar Islands,225.0,0.0,225.0
1,16/01/2021,Andhra Pradesh,18412.0,0.0,18412.0
2,16/01/2021,Arunachal Pradesh,829.0,0.0,829.0
3,16/01/2021,Assam,3528.0,0.0,3528.0
4,16/01/2021,Bihar,18169.0,0.0,18169.0
...,...,...,...,...,...
9875,04/10/2021,Uttar Pradesh,88558148.0,22305145.0,110863293.0
9876,04/10/2021,Uttarakhand,7383687.0,3226496.0,10610183.0
9877,04/10/2021,West Bengal,42247529.0,17123221.0,59370750.0
9878,04/10/2021,Miscellaneous,1902970.0,1559989.0,3462959.0
9879,04/10/2021,Total,663807388.0,251658438.0,915465826.0